/*^*^*^***^*^*^*^*^*^*^^*^*^*^*^*^*^*^*^*^*/
/*-------FONTS-------*/
@font-face {
    font-family: 'lato';
    src: url('../../dist/fonts/lato-light-webfont.woff2') format('woff2'),
         url('../../dist/fonts/lato-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../../dist/fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../../dist/fonts/lato-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style:italic;
}

@font-face {
    font-family: 'lato';
    src: url('../../dist/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../../dist/fonts/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'lato';
    src: url('../../dist/fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../../dist/fonts/lato-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style:italic;
}

@font-face {
    font-family: 'lato';
    src: url('../../dist/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../../dist/fonts/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../../dist/fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../../dist/fonts/lato-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style:italic;
}

/*^*^*^***^*^*^*^*^*^*^^*^*^*^*^*^*^*^*^*^*/
/*-------END FONTS-------*/


/*^*^*^***^*^*^*^*^*^*^^*^*^*^*^*^*^*^*^*^*/
/*-------Mixins---------------------------*/
@mixin breakpoint($point) {
    @if $point == xlarge {
        @media (min-width:1200px) {
            @content;
        }
    }
     @if $point == large {
        @media (min-width:992px) {
            @content;
        }
    }
    @else if $point == medium {
        @media (min-width:768px) {
            @content;
        }
    }
    @else if $point == small {
        @media (min-width:580px) {
            @content;
        }
    }
}

@mixin iconfix {
	-moz-font-feature-settings: normal;
	-moz-font-language-override: normal;
	-moz-osx-font-smoothing: grayscale;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-rendering: auto;
	display: block;
	
	-webkit-font-smoothing: antialiased;
}

/*^*^*^***^*^*^*^*^*^*^^*^*^*^*^*^*^*^*^*^*/
/*-------END Mixins----------------------*/




body {
	font-family:'lato', sans-serif;
	font-size:$default-font-size;
	color:$text-color;
	background-color:$body-bg;
}

h1 {
	font-weight:300;
	font-size:5rem;
	@include breakpoint(medium) {
       font-size:6rem;
    }
}
h1.entry-title {
	margin:30px 0;
}
h2 {
	font-weight:300;
	font-size:3.5rem;
	@include breakpoint(medium) {
       font-size:4.5rem;
    }
}
h3 {
	font-weight:300;
	font-size:2rem;
	@include breakpoint(medium) {
       font-size:3rem;
    }
}

.wrap {
	position:relative;
	z-index:100;
	background-color:$body-bg;
}
 /* unvisited link */
a:link {
    color: $brand-primary;
}

/* visited link */
a:visited {
    color: $brand-primary;
}

/* mouse over link */
a:hover {
    color: $brand-secondary;
}

/* selected link */
a:active {
    color: $brand-tertiary;
}

img {
	max-width:100%;
	height:auto;
}

// 10px gutter
.gutter-15.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.gutter-15 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// BUTTONS
.cr_btn:link, .cr_btn:visited {
    font-size:16px;
    display: inline-block;
    background: $body-bg;
    text-transform: uppercase;
    padding: 16px 40px;
    margin:15px 0 0 0;
    border: 1px solid $btn-default;
    color: $btn-default;
    
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
	border-radius: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out
}
.cr_btn:hover,
.cr_btn:focus,
.cr_btn:active {
   border-color:$brand-primary;
   color:$brand-primary;
   text-decoration:none;
}
//END BUTTONS


//PAGE TITLES
.page-leader {
	padding:30px 0;
}

//QUOTES/BLOCKQUOTES
.quote {
	font-weight:300;
	color:$brand-primary;
	padding:30px 0;
	font-size: 1.5em;
	line-height:normal;
	p, span {
		display:inline;
	}
	@include breakpoint(medium) {
		font-size: 2.5em;
	}
	&:before {
		@extend .icon;
		@extend .icon_left-quote;
		font-size:15px;
		display: block;
		position: absolute;
		text-indent: 0;
		top: 38px;
		left: -15px;
		text-align: center;
		/*content: "\f10d";
		@include iconfix;*/
	}
}