// Glyphicons font path
$icon-font-path:        "../fonts/";

//FontAwesome
$iconfont: 				"FontAwesome";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Default dont size
$default-font-size:     18px;

// Colors
$brand-primary:         #79b118; //green
$brand-secondary:       #00c3df; //blue
$brand-tertiary:        #ca195c; //purple
$text-color:            #31333d; //charcoal
$grey:                  #d9d9d9; //light grey
$btn-default:			#31333d; //charcoal
$dark-grey:				#4d4d4d; //dark grey
$footer-text:			#4c4c4c; 

$header-bg:             #ffffff;
$body-bg:				#f7f7f7;

