// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//Default dont size
$default-font-size:     18px;

// Colors
$brand-primary:         #79b118; //green
$brand-secondary:       #00c3df; //blue
$brand-tertiary:        #ca195c; //purple
$text-color:            #31333d; //charcoal

$header-bg:             #ffffff;

