header {
	background-color:$header-bg;
	padding:3.6em 0;
	
	
	nav{
		/*.container-fluid {
			padding-left:0;
			padding-right:0;
		}
		.navbar-collapse {
			padding-left:0;
			padding-right:0;
		}*/
		ul {
  			list-style-type: none;
			background-color: none;
			
			/* Float the list items side by side */
			li {
				/* Style the links inside the list items */
				a {
					display: inline-block;
					padding:10px !important;
					line-height:normal;
					text-decoration: none;
					font-weight: 700;
					font-size: 0.775em;
					background-color:#fff;
					margin-right: 1em;
					text-transform:uppercase;
					border:1px solid #fff;
					&:hover {
						background:none !important;
						color:$text-color;
					}
					&:focus {
						background:none !important;
					}
				}
			}
				
			//assuming the only custom link in menu will be the donate link
			li.menu-item-type-custom a {
				margin-right: 0;
				background:$brand-secondary;
  				color:white;
				border-radius:4px;
			}
		}
		
		.dropdown-menu {
			font-size:100%;
			li > a {
				line-height:inherit;
				margin-right:0;
				padding:3px 20px !important;
			}
			li > a:focus, 
			li > a:hover {
				 background-color:transparent;
			}
		}
		button.navbar-toggle {
			span.icon-bar {
				background:$brand-primary;
			}
		}
	}
	.nav > a:hover,
	.nav .open > a,
	.nav .open > a:focus,
	.nav .open > a:hover {
		border-color:$grey;
		border-bottom:none;
		background-color:#ffffff !important;
	}


	.mission {
		font-weight: 300;
		font-size: 1.875rem;
		line-height: 1.2;
		margin-top: 4.0rem;
		padding:0 10px;
		@include breakpoint(medium) {
			font-size:2.6rem;
		}
	}
}